.custom-timeline::before {background-color: #052B47;}
.vertical-timeline {width: 100% !important; max-width: 1080px !important;}
.vertical-timeline-element-content h2 {color: #004369; font-weight: bold; font-size: 20px !important;}
.vertical-timeline-element-content p {color: #0E7178; font-size: 16px !important;}
.vertical-timeline-element-icon svg {width: 16px; height: 16px; margin-left: -8px; margin-top: -8px;}